@{
    ViewBag.Title = "MyXml";
}

@Mvc3Razor.MyHelpers.MyHelpersClass1.Fuck(@ViewBag.fn)


@*
@Mvc3Razor.MyHelpers.MyHelpersClass1.Fuck("HTMLPage33.htm")
@Html.ServerSideInclude(this, "/serverside/menus/MainMenu.asp");

@Render Page("http://joeschedule.com/cgi-bin/jmother2.pl?htmlname=test2.html")?
@RenderPage("~/Path/ToMy/File.html")?
*@

<h2>My Office</h2>

 @ViewBag.fn
lets do a xml x xslt fucker.